.github export-ignore
.idea export-ignore
bin export-ignore
tests export-ignore
.distignore export-ignore
.gitignore export-ignore
composer.json export-ignore
composer.lock export-ignore
grumphp.yml export-ignore
phpcs.xml export-ignore
phpunit.xml.dist export-ignore
psalm.xml export-ignore